default_stages: [commit, push]
default_language_version:
  python: python3.8
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
    - id: check-json
    - id: pretty-format-json
      args: ["--autofix", "--no-sort-keys"]
  - repo: https://github.com/ambv/black
    rev: 19.10b0
    hooks:
    - id: black
      args: ["-l 120"]
  - repo: https://github.com/pycqa/isort
    rev: 5.6.4
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.3
    hooks:
    - id: pyupgrade
      args: ["--py38-plus"]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
    - id: flake8
      args: ["--config=.config/flake8"]
