[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiofiles = "*"
aiohttp = "*"
aioredis = "*"
"beautifulsoup4" = "*"
cleverwrap = "*"
click = "*"
"discord.py" = {extras = ["voice"],version = ">=1.0"}
motor = "*"
Pillow = ">=6.2.0"
pymongo = "*"
python-rapidjson = "*"
psutil = "*"
simplefuzzyset = "*"
toml = "*"
uvloop = {version = "*",sys_platform = "!= 'win32'"}
wikipedia = "*"
xmltodict = "*"
youtube_dl = "*"

[dev-packages]
black = "*"
pylama = "*"
mypy = "*"
pylint = "*"
mccabe = "*"
pycodestyle = "*"
pydocstyle = "*"
ipython = "*"
pre-commit = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
