[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {git = "https://github.com/Rapptz/discord.py", ref = "rewrite", extras = ["voice"]}
aiofiles = "*"
aiohttp = "*"
aioredis = "*"
"beautifulsoup4" = "*"
cleverwrap = "*"
click = "*"
motor = "*"
pymongo = "*"
python-rapidjson = "*"
psutil = "*"
toml = "*"
uvloop = {version = "*", os_name = "== 'linux'"}
wikipedia = "*"
xmltodict = "*"
youtube_dl = "*"

[dev-packages]
pylama = "*"
mypy = "*"

[requires]
python_version = "3.6"
